
<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <!-- Dashboard Tab -->
    <ion-tab title="Status" icon="ion-ios-pulse" href="#/main/dash">
        <ion-nav-view name="main-dash"></ion-nav-view>
    </ion-tab>
    <!-- Traffic Tab -->
    <ion-tab title="Traffic" badge="badge.Traffic" on-select="mc.CheckBadge(0)" badge-style="badge-assertive" icon="ion-person-stalker" href="#/main/traffic/">
        <ion-nav-view name="main-traffic"></ion-nav-view>
    </ion-tab>
    <!-- Ativity Tab -->
    <ion-tab title="Activity" badge="badge.Activity" badge-style="badge-assertive" on-select="mc.CheckBadge(1)" icon="ion-flash" href="#/main/activity/">
        <ion-nav-view name="main-activity"></ion-nav-view>
    </ion-tab>
    <!-- Search Tab -->
    <ion-tab title="Search" icon-off="ion-ios-search-strong" icon-on="ion-ios-search-strong"  href="#/main/search/">
        <ion-nav-view name="main-activity"></ion-nav-view>
    </ion-tab>

</ion-tabs>




 <!--
<ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-class="{'tabs-item-hide' : !showTabs.show}">
    Dashboard Tab -
    <ion-tab title="Status" icon="ion-ios-pulse" href="#/main/dash">        
        <ion-nav-view name="main-dash"></ion-nav-view>
    </ion-tab>

    <!-- Traffic Tab
    <ion-tab title="Traffic" badge="badge.Traffic" on-select="mc.CheckBadge(0)" badge-style="badge-assertive" icon="ion-person-stalker" href="#/main/traffic/">
        <ion-nav-view name="main-traffic"></ion-nav-view>
    </ion-tab>

    <!-- Activity Tab
    <ion-tab title="Activity" badge="badge.Activity" badge-style="badge-assertive" on-select="mc.CheckBadge(1)" icon="ion-flash" href="#/main/activity/">
        <ion-nav-view name="main-activity"></ion-nav-view>
    </ion-tab>

    <!-- Messages Tab  
    <ion-tab title="Messages" badge="badge.Messages" badge-style="badge-assertive" icon="ion-ios-chatboxes-outline" href="#/main/messages">
        <ion-nav-view name="main-messages"></ion-nav-view>
    </ion-tab>

</ion-tabs>
     -->