<ion-view view-title="Messages">

    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-chevron-left" ng-click="vm.goBack()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-plus-circled" ui-sref="messages-compose"></button>
    </ion-nav-buttons>
    <ion-content has-padding="false">
        <div id="messages" class="messages">
            <div class="zeroResults" ng-show="vm.Messages.length === 0">
                <h2>no messages</h2>
            </div>
            <ion-list ng-show="vm.Messages.length > 0">
                <ion-item class="item-avatar item-icon-right" ng-class="{'bold' : !message.viewed }" href="#/messages/{{message.corresponder}}" ng-repeat="message in vm.Messages track by $id($index)" ng-click="vm.MessageViewed($index)" type="item-text-wrap" nav-direction="forward">
                    <img ng-src="{{message.photo && vm.imageURL + message.corresponder + '.png' || 'img/default_avatar.png' }}" />
                    <h2>{{message.username}}</h2>
                    <p>{{message.body | messageDecrypt}}</p>
                    <p class="date">{{message.date | messageDate : false }}</p>
                </ion-item>
            </ion-list>
        </div>
        <ion-infinite-scroll ng-if="vm.moMessages" on-infinite="vm.loadMoreMessages()" distance="30%"></ion-infinite-scroll>
    </ion-content>
</ion-view>

