<ion-view hide-nav-bar="true" class="modal-login modal-inspius">
    <!-- style="background: url(img/login.jpg) center; background-size: cover;" -->
    <ion-content overflow-scroll="false">
        <div class="header">            
            <div class="logo">
                <img src="img/logo.png">
            </div>
        </div>
        <form name="vm.form.loginForm" ng-submit="vm.Login(loginData)" novalidate="">
            <div class="list list-inset">
                <label class="item item-input">
                    <i class="is-icon-avatar"></i>
                    <input type="text" name="username" ng-model="loginData.username" required placeholder="Username">
                </label>
                <div class="invalid-required" ng-show="vm.form.loginForm.username.$error && vm.form.loginForm.$submitted">* Username is required</div>
                <label class="item item-input">
                    <i class="is-icon-padlock"></i>
                    <input type="password" name="password" ng-model="loginData.password" placeholder="Password" required>
                </label>
                <div class="invalid-required" ng-show="vm.form.loginForm.password.$error && vm.form.loginForm.$submitted">* Password is required</div>                
                <label class="item item-button">
                    <button class="button button-block button-positive" type="submit">Sign in</button>
                </label>
                <a ng-click="vm.mForgotPassword.show()" class="forgot-password">Forgot Password</a>
            </div>
        </form>
        <div class="footer">
            <div class="link">
                <a ng-click="vm.facebookSignIn();" onclick="return false;">Sign in with Facebook <i class="is-icon-next"></i></a><br/><br/>
                <a ng-click="vm.googleSignIn();" onclick="return false;">Sign in with Google <i class="is-icon-next"></i></a>
            </div>
            <div class="link" ng-click="vm.mRegister.show()">
                <a>Wanna sign up?<i class="is-icon-next"></i></a>
            </div>
        </div>
    </ion-content>
</ion-view>  