<ion-view view-title="Dashboard">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-ios-chatboxes-outline" ui-sref="messages"></button>
    </ion-nav-buttons>
    <ion-content has-header="true" padding="true" id="dash" has-bouncing="false">
        <button class="button button-large icon ion-radio-waves"  ng-click="vm.broadcast()"
                ng-click="mc.showDangToast()" ng-class="{ 'broadcasting' : user.broadcasting, 'notbroadcasting' : !user.broadcasting,'loading-click': broadcastloading }"></button>

    </ion-content>    
</ion-view>