<ion-view view-title="New Message" hide-tabs>
    <ion-content class="padding" id="threadcontent">
        <div id="thread" class="msg-container-base">
            <div class="recipients">
                <div><span>To:</span></div>
                <div>
                    <md-chips collection='vm.listRecipients' ng-model='vm.selectedUsers' md-id='id' md-title='title' md-thumbnail='thumbnailUrl' md-subtitle='subtitle' 
                              disabled='false' md-on-delete='vm.mdOnDelete' unique='true' />
                </div>
                <div>
                    <div class="zeroResults" ng-show="vm.listRecipients.length === 0">
                        <h2>no results</h2>
                    </div>
                    <ion-list>
                        <ion-checkbox ng-model="user.checked" ng-checked="user.checked" ng-repeat="user in vm.listRecipients" ng-change="vm.updateRecipients(user)">{{user.username}}<p>{{user.firstName}}&nbsp;{{user.lastName}}</p></ion-checkbox>
                    </ion-list>
                    <ion-infinite-scroll ng-if="vm.moRecipients" on-infinite="vm.loadMorelistRecipients()" distance="30%"></ion-infinite-scroll>       
                </div>
            </div>
            <!-- 
            <div class="panel-footer chat-bottom-bar">
                <form style="display:flex" ng-submit="vm.submitFunction()">
                    <div class="input-group">
                        <textarea class="form-control input-sm chat-input" name="composeMessage" placeholder="{{vm.inputPlaceholderText}}" ng-model="vm.writingMessage" maxlength="300" style="width:59%"></textarea>
                        <button class="button button-stable button-small" ng-disabled="vm.writingMessage ==  '' || vm.selectedUsers.length === 0">Send</button>
                    </div>
                </form>
            </div>
            -->
        </div>
    </ion-content>

    <ion-footer-bar class="bar-light item-input-inset" keyboard-attach elastic>
        <label class="item-input-wrapper no-bg">
            <textarea rows="1" msd-elastic placeholder="{{vm.inputPlaceholderText}}" id="type-area" ng-model="vm.writingMessage"></textarea>
        </label>
        <div class="footer-btn-wrap">
            <button type=submit class="button button-clear footer-btn" ng-submit="vm.submitFunction()" ng-disabled="vm.writingMessage.length == 0 || vm.selectedUsers.length == 0">
                Send
            </button>
        </div>
    </ion-footer-bar>
</ion-view>