<ion-modal-view class="modal-forgotpass modal-inspius modal-noback">
  <ion-content>
    <div class="header text-center clearfix">
      <a class="close" ng-click="vm.mForgotPassword.hide()"><i class="is-icon-back"></i></a>
      <div class="title">Forgot Password</div>
      <div class="description">
        Please enter the email you used to register.
        Check you email for the instruction to retreieve your password
      </div>
    </div>
    <form name="vm.form.forgotForm" ng-submit="vm.forgotPassword(forgotData)" novalidate="">
      <div class="list list-inset">
        <label class="item item-input">
          <i class="is-icon-envelope" ng-class="{'error': vm.form.forgotForm.email.$invalid && vm.form.forgotForm.$submitted}"></i>
          <input type="email" ng-model="forgotData.email" required name="email" placeholder="Email">
        </label>
		<div class="invalid-required" ng-show="vm.form.forgotForm.email.$invalid && vm.form.forgotForm.$submitted">* Email is required</div>
        <label class="item item-button">
          <button class="button button-block button-positive" type="submit">Reset Password</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
