<ion-view view-title="Traffic">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-ios-chatboxes-outline msgTitle" ng-click="mc.CheckBadge(2)" ui-sref="messages"><span ng-if="badge.Messages == 1" class="badge badge-assertive">{{badge.Messages}}</span></button>
    </ion-nav-buttons>
    <ion-content has-padding="false" has-header="true" has-bouncing="true">
        <div class="button-bar">
            <a class="button" ng-class="{'active' : !vm.showChasing }" ng-click="vm.showChasing = false;">Followers <i class="icon ion-ios7-telephone-outline"><span class="badge badge-stable icon-badge">{{vm.chasersNo}}</span></i></a>
            <a class="button" ng-class="{'active' : vm.showChasing }" ng-click="vm.showChasing = true;">Following <i class="icon ion-ios7-telephone-outline"><span class="badge badge-stable icon-badge">{{vm.chasingNo}}</span></i></a>
        </div>
        <div id="result">
            <div id="chasers" ng-show="!vm.showChasing" class="chasers">
                <div class="zeroResults" ng-show="vm.Chasers.length === 0">
                    <h2>no followers homie</h2>
                </div>
                <ion-list ng-show="vm.Chasers.length > 0">
                    <ion-item class="item-avatar item-icon-right item-complex" ng-repeat="chaser in vm.Chasers" type="item-text-wrap">
                      <a class="item-content" href="#/main/traffic/user/{{chaser.username}}">
                        <img ng-src="{{chaser.photo && vm.imageURL + chaser.id + '.png' || 'img/default_avatar.png' }}">
                        <h2>{{chaser.username}}</h2>
                        <p>{{chaser.firstName}}&nbsp;{{chaser.lastName}}</p>
                      </a>
                      <div class="helper">
                          <i class="tooltip icon ion-android-more-vertical" ng-click="vm.removeChaser(chaser.id, chaser.username, $index)"></i>
                      </div>
                    </ion-item>
                </ion-list>
                <ion-infinite-scroll ng-if="vm.moChasers" on-infinite="vm.loadMoreChasers()" distance="30%"></ion-infinite-scroll>
            </div>
            <div id="chasing" ng-show="vm.showChasing" class="chasing">
                <div class="zeroResults" ng-show="vm.Chasing.length === 0">
                    <h2>not following anyone</h2>
                </div>
                <ion-list ng-show="vm.Chasing.length > 0">
                    <ion-item class="item-avatar item-icon-right" ng-repeat="chaser in vm.Chasing" type="item-text-wrap" href="#/main/traffic/user/{{chaser.username}}">
                        <img ng-src="{{chaser.photo && vm.imageURL + chaser.id + '.png' || 'img/default_avatar.png' }}">
                        <h2>{{chaser.username}}</h2>
                        <p>{{chaser.firstName}}&nbsp;{{chaser.lastName}}</p>
                    </ion-item>
                </ion-list>
                <ion-infinite-scroll ng-if="vm.moChasing" on-infinite="vm.loadMoreChasing()" distance="30%"></ion-infinite-scroll>
            </div>
        </div>
    </ion-content>
</ion-view>
