<ion-view view-title="{{vm.corresponder }}" hide-tabs>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-android-more-vertical"></button>
    </ion-nav-buttons>
    <ion-content delegate-handle="userMessageScroll" class="thread">
        <!-- Chat bubbles -->
        <!--<ion-infinite-scroll ng-if="vm.moMessages" on-infinite="vm.loadMoreMessages()" distance="30%"></ion-infinite-scroll> -->
        <ion-infinite-scroll-reverse immediate-check="false" ng-if="vm.moMessages && vm.initialLoadCompleted" icon="ion-loading-c" distance="25%" on-infinite="vm.loadMoreMessages()" reverse="true">
        </ion-infinite-scroll-reverse>
        <div class="list chat-bubble">
            <div class="item item-avatar b-none" ng-class="item.username != vm.corresponder?'me':'friend'" ng-repeat="item in vm.MessageThread" href="#">
                <img ng-src="{{item.photo && vm.imageURL + item.userID + '.png' || 'img/default_avatar.png' }}" ng-if="item.username == vm.corresponder">
                <div class="bubble">
                    <i class="icon-tail"></i>
                    <span class="content" ng-bind-html="item.body | messageDecrypt | nl2br"></span>
                </div>
                <div id="item.status" ng-if="item.username != vm.corresponder" ng-switch on="item.status">
                    <span class="message-status" ng-switch-when='1'><ion-spinner icon="lines"></ion-spinner></span>
                    <span class="message-status" ng-switch-when='2'>Sent</span>
                    <span class="message-status" style="color:red" ng-switch-when='3'>FAILED</span>
                    <span class="message-status" ng-switch-default>Sent</span>
                </div>
                <div class="timestamp">{{item.date | messageDate : true}}</div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-light item-input-inset" keyboard-attach elastic>
        <label class="item-input-wrapper no-bg">
            <textarea rows="1" msd-elastic placeholder="{{vm.inputPlaceholderText}}" maxlength="140" id="type-area" ng-model="vm.writingMessage"></textarea>
        </label>
        <div class="footer-btn-wrap">
            <button type=submit class="button button-clear footer-btn" ng-click="vm.sendMessage()" ng-disabled="vm.writingMessage.length == 0">
                Send
            </button>
        </div>
    </ion-footer-bar>
</ion-view>

