<form name="vm.form.passwordForm" novalidate>
    <div class="list">
        <label class="item item-input">
            <i class="icon ion-locked placeholder-icon"></i>
            <input type="password" maxlength="15" name="oldpassword" placeholder="Old Password" ng-model="vm.passwordData.oldpassword" required>
        </label>
        <label class="item item-input">
            <i class="icon ion-locked placeholder-icon" ng-class="{'error': vm.form.passwordForm.newpassword.$invalid && vm.form.passwordForm.newpassword.$touched}"></i>
            <input type="password" maxlength="15" name="newpassword" ng-minlength="6" placeholder="New Password" ng-model="vm.passwordData.newpassword" required>
        </label>
        <label class="item item-input">
            <i class="icon ion-locked placeholder-icon" ng-class="{'error': vm.form.passwordForm.passwordConfirm.$error.pwmatch}"></i>
            <input type="password" maxlength="15" name="confirmnewpassword" placeholder="Confirm New Password" pwupdate-check="vm.passwordData.newpassword" ng-model="vm.passwordData.confirmpassword" required>
        </label>
        <div class="invalid-required" ng-show="vm.form.passwordForm.confirmnewpassword.$error.pwmatch && vm.form.passwordForm.confirmnewpassword.$touched">* Gotta match</div>
    </div>
</form>