<form name="form.passwordForm" novalidate>
    <div class="list registerForm">
        <label class="item list-inset">
            <i class="icon ion-locked placeholder-icon" ng-class="{'error': oldpasswordInvalid}"></i>
            <input type="password" maxlength="15" name="oldpassword" placeholder="Old Password" ogpassword-check ng-model="data.oldpassword" required>
        </label>
        <!--
        <div class="error-messages ng-active" ng-if="oldpasswordInvalid">
            <p ng-show="oldpasswordInvalid">Wrong Password</p>
        </div>
             -->
        <label class="item item-input">
            <i class="icon ion-locked placeholder-icon" ng-class="{'error': form.passwordForm.newpassword.$invalid && form.passwordForm.newpassword.$touched}"></i>
            <input type="password" maxlength="15" name="newpassword" ng-minlength="6" placeholder="New Password" ng-model="data.newpassword" required>
        </label>
        <!--
        <div class="error-messages" ng-messages="form.passwordForm.newpassword.$error" ng-if="form.passwordForm.newpassword.$touched">
            <p ng-message="minlength" ng-show="form.passwordForm.newpassword.$dirty">At least 6 characters</p>
            <p ng-message="passwordvalid" ng-show="form.newpassword.password.$error.passwordvalid">Gotta use at least one number and alphabet</p>
        </div>
             -->
        <label class="item item-input">
            <i class="icon ion-locked placeholder-icon" ng-class="{'error': form.passwordForm.confirmnewpassword.$invalid && form.passwordForm.confirmnewpassword.$touched}"></i>
            <input type="password" maxlength="15" name="confirmnewpassword" placeholder="Confirm New Password" pwupdate-check="data.newpassword" ng-model="data.confirmpassword" required>
        </label>
        <div class="error-messages" ng-messages="form.passwordForm.$error" ng-if="form.passwordForm.confirmnewpassword.$touched">
            <p ng-message="pwmatch" ng-show="form.passwordForm.passwordConfirm.$error.pwmatch && form.passwordForm.passwordConfirm.$touched">Gotta match</p>
        </div>
    </div>
</form>