<ion-view view-title="Choose Group">
    <ion-content class="padding has-footer">
        <div class="groupIntro">
            <p>You are about to broadcast your location, choose who can view:</p>
        </div>
        <div class="list right-icon card" ng-repeat="(key,value) in vm.selections">
            <ion-checkbox ng-model="vm.choice" ng-true-value="'{{value}}'" ng-false-value="">
                {{value.text}}
                <p ng-if="value.type == 3">{{value.amount}} members</p>
            </ion-checkbox>
            <div class="helper" ng-click="vm.openPopover($event, value.type)">
                <i ng-if="value.type != 3" class="tooltip icon ion-android-more-vertical" ></i>
            </div>
        </div>
        <div class="list group card">
            <a href="#/groups/edit/0" class="item item-icon-right">
                Add Group
                <i class="icon ion-plus-circled"></i>
            </a>
        </div>
        
        <script id="groupPopover.html" type="text/ng-template">
            <ion-popover-view class="tipPopover">
                <ion-content>
                    {{vm.helperText}}
                </ion-content>
            </ion-popover-view>
        </script>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-assertive" ng-if="vm.choice">
        <button class="button button-full button-positive group-broadcast" ng-click="vm.broadcast(group.id, vm.groupOnly)">
            Broadcast
        </button>
    </ion-footer-bar>
</ion-view>