<ion-view view-title="Blocks">
    <ion-content class="padding">
        <div id="result">
            <div id="blocks" class="blocks">
                <div class="zeroResults" ng-show="vm.Blocks.length === 0">
                    <h2>no blocks</h2>
                </div>
                <ion-list ng-show="vm.Blocks.length != 0">
                    <ion-item item="group" class="item-avatar item-icon-right" ng-repeat="block in vm.Blocks" ng-click="vm.Unblock(block.id, block.username, $index)" type="item-text-wrap">
                        <img ng-src="{{block.photo && vm.imageURL + block.id + '.png' || 'img/default_avatar.png' }}"/>
                        <h2>{{block.username}}</h2>
                        <p>{{block.firstName}}&nbsp;{{block.lastName}}</p>
                    </ion-item>
                </ion-list>
                <ion-infinite-scroll ng-if="vm.moBlocks" on-infinite="vm.loadMoreBlockers()" distance="30%"></ion-infinite-scroll>
            </div>
        </div>
    </ion-content>
</ion-view>